@{
    ViewData["Title"] = "Dev Notes";
}

<div class="text-left">
    <p>Please note the following points about the assignment</p>
    <ul>
        <li>I wasn't a 100% sure of what sort of multiplication table was asked for. But the assignment said the result should be (n+1) X (n+1) so I assumed that includes headers as the primes themselves.</li>
        <li>I didn't add input validation. I would class it as one of the many TODO bits on this. Ideally it would be a client side script to do model validation and stop the form from submitting unless the input is reasonable.</li>
        <li>The background calculations are not the most effecient as far as run-times are concerned. Figuring out the primes and their paired up products could've been done in a single step reducing run-time. But I've kept two different modules to enhance readability and modularity, and make testing easy in-case of bugs.</li>
        <li>Please feel free to admire my amazing UI skills, I take a lot of pride in it! (kidding, I've always preferred back-end)</li>
    </ul>
</div>
